img[alt="Editable Listview Plugin"] {
    width: 55%;
    height: auto;
}

p.credits {
    line-height: 1.8em;
}

.github-btns {
    position: fixed;
    margin-left: -210px;
    margin-top: 195px;
}
.facebook-btns {
    position: fixed;
    margin-left: -165px;
    margin-top: -440px;
}
.google-btns {
    position: fixed;
    margin-left: -140px;
    margin-top: -400px;
}
.twitter-btns {
    position: fixed;
    margin-left: -73px;
    margin-top: -360px;
}
.github-btns > iframe {
/*    display: block;*/
/*    margin: 15px;*/
}
.share {
/*    display: inline-flex;*/
    float: right;
    width: 200%;
/*    margin-bottom: 30px;*/
/*    margin-top: -20px;*/
}
.share > div {
    display: inline;
    vertical-align: bottom !important;
}
.share > iframe {
    display: inline;
    vertical-align: bottom !important;
    margin-left: -5px;
}
@media print, screen and (max-width: 1060px) {
    .github-btns {
        position: absolute;
        margin-left: 375px;
        margin-top: 5px;
    }
    .github-btns > iframe {
        display: inline;
        margin-left: 15px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}
@media print, screen and (max-width: 720px) {
}
@media print, screen and (max-width: 480px) {
    .github-btns {
        position: static;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    .github-btns > iframe {
        display: inline;
        margin: 0;
    }
    .share {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .share > div {
        display: inline;
        vertical-align: bottom !important;
    }
    .share > iframe {
        display: inline;
        vertical-align: bottom !important;
        margin-left: -5px;
    }
}
@media print {

}
@media print, screen and (max-height: 680px) {

}
@media print, screen and (max-height: 480px) {

}
